<table border="1">
  <tr>
    <th width="200", height="50"><%= now_day %></th>
    <th width="200"><%= last_day %></th>
    <th width="200"><%= last_day %>比</th>
  </tr>
  <div>
   <tr>
      <td height="40"><%= now.count %></td>
      <% if last.count == 0 %>
        <td>0</td>
        <td><%= last_day %>の投稿はありません</td>
      <% else %>
        <td><%= last.count %></td>
        <td>
          <% a = now.count / last.count.to_f %>
          <%= (a * 100).round %>%
        </td>
      <% end %>
    </tr>
  </div>
</table>