<div class="container">
  <%= render "searches/search" %>
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/user_info', user: @user %>
        <%= render 'form', book: @book %>
      </div>
      
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <%= render 'index_form' %>
        <div class="index">
          <table class="table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Category</th>
            <th>Comments</th>
            <th>Rate</th>
            </tr>
            <%= render 'index', books: @books %>
          </table>
          <h2>投稿数の前日比・先週比</h2>
          <table border="1">
            <tr>
              <th width="200", height="50">今日の投稿数</th>
              <th width="200">前日の投稿数</th>
              <th width="150">前日比</th>
            </tr>
            <%= render 'books/post_list', now: @books_today, last: @books_yesterday %>
          </table>
          
          <table border="1">
            <tr>
              <th width="200", height="50">今週の投稿数</th>
              <th width="200">先週の投稿数</th>
              <th width="150">先週比</th>
            </tr>
            <%= render 'books/post_list', now: @books_week, last: @books_last_week %>
          </table>
        </div>
      </div>
    </div>
</div>