<div class="container">
  <%= render "searches/search" %>
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/user_info', user: @user %>
        <%= render 'form', book: @book %>
      </div>
      
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <%= render 'index_form' %>
        <div class="index">
          <table class="table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Category</th>
            <th>Comments</th>
            <th>Rate</th>
            </tr>
            <%= render 'index', books: @books %>
          </table>
          <h2>投稿数の前日比・先週比</h2>
         
            <%= render 'books/post_list', now: @books_today, last: @books_yesterday, now_day: "今日", last_day: "昨日" %>
          
            <%= render 'books/post_list', now: @books_week, last: @books_last_week, now_day: "今週", last_day: "先週"  %>
            
            <%= render 'books/week_count', now: @books_today, last: @books_yesterday, day2: @books_2_days_ago, day3: @books_3_days_ago, day4: @books_4_days_ago, day5: @books_5_days_ago, day6: @books_6_days_ago, data: @data %>
            
        </div>
      </div>
    </div>
</div>